<% if @restaurante.errors.any? %>
<ul>
	<% @restaurante.errors.full_messages.each do |msg| %>
		<li><%= msg %> </li>
	<% end %>
</ul>
<% end %>

<%= form_for @restaurante , :url => restaurantes_path, :html => { :multipart => true } do |f| %>
	Nome: <%= f.text_field :nome %> <br/>
	Endereço: <%= f.text_field :endereco %> <br/>
	Especialidade: <%= f.text_field :especialidade %> <br/>
	<%= f.file_field :foto %> <br/>
	<%= f.submit %>
<% end %>